html {
  font-family: "SF Display", -apple-system, BlinkMacSystemFont, sans-serif, Helvetica, Arial;
  background-color: #fff;
  display: flex;
}

body {
  font-size: 2em;
  font-weight: 900;
  margin: auto;
}

h1 {
  font-size: 50px;
  font-weight: 900;
}

button {
  border: 0;
  background: #333;
  color: #fff;
  cursor: pointer;
  float: left;
  font-size: 30px;
  font-weight: 300;
  margin: 0.25em;
  width: 2em;
  height: 2em;
  border-radius: 100px;
}

button:active {
  opacity: .65;
}

.viewer {
  font-size: 1.5em;
  font-weight: 200;
  text-align: right;
  overflow: hidden;
  width: 300px;
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 80px);
}

.double-op {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 4.67em;
}

.special-op {
  background: #d5d5d5;
  color: #333;
}

.op {
  background-color: rgb(255, 149, 0);
}
