html, body, #mapa-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#container {
  position: absolute;
  width: 100%;
  top: 5px;
  z-index: 999999999;
  text-align: center;
}

input[type="button"] {
  font-size: 17px;
  line-height: 1.52947;
  font-weight: 400;
  background-color: #0070c9;
  background: -webkit-linear-gradient(#42a1ec, #0070c9);
  background: linear-gradient(#42a1ec, #0070c9);
  border-color: #07c;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  min-width: 250px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 4px;
  text-align: center;
  white-space: nowrap;
}

input[type="button"]:hover {
  background-color: #147bcd;
  background: -webkit-linear-gradient(#51a9ee, #147bcd);
  background: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  text-decoration: none;
}
