/*Ejercicio 1 - ECMAScript*/

body {
  color: black;
  background-color: white;
}

h1, h2, h3, h4 {
  text-align: center;
}

h1 {
  color: red;
}

h2 {
  color: green;
}

h3 {
  color: blue;
}

p {
  color: gray;
}
